@import "tailwindcss";

body {
  background-color: #050505;
  color: #F5F5F5;
  margin: 0;
  height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
